[Unit]
Description=Servicio de usuarios, GET y POST
After=nginx.service

[Service]
ExecStart=/usr/bin/user_service
Type=simple
RemainAfterExit=true

[Install]
WantedBy=default.target